streamlit==1.50.0
torch==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
timm==0.9.8
Pillow==11.3.0
numpy==2.3.3
pandas==2.3.2
